*.aux
*.glob
*.vok
*.vos
*.vo
*.log
*.synctex.gz
*.hi
*.o
*#
sources/coq_implementation_test/haskell/Main
sources/coq_implementation_test/haskell/Extracted.hs
sources/coq_implementation_test/.CoqMakefile.d
.gitignore
sources/coq_implementation_test/makefile
sources/coq_implementation_test/CoqMakefile.conf
sources/coq_implantation/makefile
sources/coq_implantation/CoqMakefile.conf
sources/coq_implantation/.CoqMakefile.d
sources/coq_implantation/haskell/Extracted.hs
